<app-briefing-page
        briefTitle="Сортирующийся рейтинг"
  [workItems]="workItems"
>
  <div>simple content simple content simple content simple content simple content</div>
  <div>simple content simple content simple content simple content simple content</div>
  <div>simple content simple content simple content simple content simple content</div>
  <div>simple content simple content simple content simple content simple content</div>
  <div>simple content simple content simple content simple content simple content</div>
  <div>simple content simple content simple content simple content simple content</div>
  <div>simple content simple content simple content simple content simple content</div>
  <div>simple content simple content simple content simple content simple content</div>
  <div>simple content simple content simple content simple content simple content</div>
  <div>simple content simple content simple content simple content simple content</div>
  <div>simple content simple content simple content simple content simple content</div>
  <div>simple content simple content simple content simple content simple content</div>
  <div>simple content simple content simple content simple content simple content</div>
  <div>simple content simple content simple content simple content simple content</div>
</app-briefing-page>
