:host {
  display: block;
}


.currency-cards-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}

.currency-form {
  display: flex;
  align-items: center;

  * {
    margin: 0 5px ;
    &:first-child {
      margin-left: 0;
    }
  }
  button {
    max-height: 40px;
  }
}

.currency-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 7px;
  margin: 5px;

  &--active {
      background-color: aquamarine;
  }

  &__code {
    font-weight: bold;
  }

  &__value {
    font-size: 12px;
  }
}
